TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=@your_channel_or_-100chatid
TOKEN_CONTRACT=0xAe5F595803B2AA4D07aF8b392e535876a974a296
RPC_URL_1=
RPC_URL_2=
# Session targets for /start command
SC1_TARGET=200
SC5_TARGET=100
